<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aninterface.root.dam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity" />
        <activity
            android:name=".Home_Activity"
            android:label="@string/title_activity_home_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".New_Customer_Activity" />
        <activity android:name=".Today_Report_Activity" />
        <activity android:name=".Overall_Report_Activity" />
        <activity android:name=".Repayment_Actvity" />
        <activity android:name=".CustomerList_Activity" />
        <activity android:name=".Profit_Activity" />
        <activity android:name=".DueRepayment_Activity" />
        <activity android:name=".IndividualCustomerDeatil_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.Fiftykentry_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.HomeChitfund_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.FiftyListview_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.HunderedkListiview_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.TwhunderedListview_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.Chitfund_Repayment_Activity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.azhaguvel.dam.chitfund.OverAll_report_Activity" />
        <activity android:name="com.azhaguvel.dam.chitfund.Repayment_chitfund_activity"></activity>
    </application>

</manifest>